      .buttonsty {
        background-color: #26668b;
        border: 1px solid rgba(27, 31, 35, 0.15);
        border-radius: 6px;
        box-shadow: rgba(27, 31, 35, 0.1) 0 1px 0;
        box-sizing: border-box;
        color: #fff;
        cursor: pointer;
        display: inline-block;
        font-size: 14px;
        font-weight: 600;
        padding: 6px 16px;
        position: relative;
        text-align: center;
        transition: 0.25s;
        width: 200px;
        height: 35px;
      }

      .buttonsty:hover {
        background-color: #1c5170;
        transform: scale(1.1);
      }

      .buttonsty:active {
        background-color: #194761;
        transform: scale(1);
      }