.font {
  font-family: "Google Sans", "Roboto", Arial, sans-serif;
  font-size: 13;
  font-weight: 500;
}
.navBar {
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #ffffff;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.main-content {
  padding: 24px;
  max-width: 1400px;
  margin: 0 auto;
  width: 100%;
  flex: 1;
}

.container {
  max-width: 100%;
  margin: 0;
  background: #f5f5f5;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.display {
  padding: 24px;
  max-width: 1400px;
  margin: 0 auto;
  width: 100%;
  flex: 1;
}

#book.empty {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 300px;
}

.empty-message {
  font-size: 30px;
  opacity: 0.7;
}

.book-card {
  border: 0px solid #d5d5d5;
  margin: 10px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
    rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}

.book-card:hover {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  transform: scale(1.0001);
  transition: 0.75s;
}

#favourite {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(380px, 1fr));
  gap: 15px;
}

#book {
  grid-template-columns: repeat(auto-fill, minmax(380px, 1fr));
  gap: 15px;
}