.overflow {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;

  width: 200px;
  display: block;
}

#book {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(380px, 1fr));
  gap: 16px;
}

@media (max-width: 768px) {
  .book-card {
    width: 100%;
  }
}

